annotated-types==0.6.0
cffi==1.16.0
colorama==0.4.6
cryptography==41.0.7
greenlet==3.0.3
inflect==7.0.0
loguru==0.7.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
PyMySQL==1.1.0
sqlacodegen==2.3.0
SQLAlchemy==2.0.20

typing_extensions==4.9.0
win32-setctime==1.1.0
